*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
   background: linear-gradient(132deg, rgb(146, 11, 126) 0.00%, rgb(52, 29, 49) 100.00%);
   height:1px;
   width: 100%;
   color: #fff;
}
h1{
    text-align: center;
    font-weight: 600;
    padding: 55px 0 26px;
}

form{
    width: 90%;
    max-width: 600px;
    margin: auto;
    border-radius: 50px;
    height: 80px;
    background: #222228;
    display: flex;

}
form input{
    flex: 1;
    height: 100%;
    border: 0;
    outline: 0;
    background: #222228;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
form button{
    padding: 0 40px;
    height: 100%;
    background: #ff3929;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    cursor: pointer;
    transition:  0.5s;
    

 }
 form button:hover{
    background-color: #fff;
    color: #000;
 }
 ::placeholder{
    color: #ffffff69;
    font-size: 18px;
    margin-left: 22px;
 }
 #show-more-btn{
    background: #ff3929;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px auto 100px;
  transition: 0.3s;
    display: none;
 }
 #show-more-btn:hover{
   cursor: pointer;
  background: #fff;
  color: rgb(0, 0, 0);
 }
 #search-result{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;

 }
 #search-result img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    transition: transform 0.2s;
    border-radius: 5px;

 }
 #search-result :hover{
    transform: scale(1.1);
}
@media only screen and (max-width: 880px) {
   #search-result{
    grid-template-columns: 1fr 1fr ;
   }
  }
@media only screen and (max-width: 600px) {
   #search-result{
    grid-template-columns: 1fr  ;
   }
  }
  form{
    width: 90%;
    max-width: 601px;
    display: flex;
    justify-content: center;
  }
 